DATABASE_URL="postgres://user:password@localhost:5432/nafdac_db"
ADMIN_PASSWORD="admin123"
JWT_SECRET="super_secret_jwt_key_change_this"

# Storage Configuration
# Options: "local" (default) or "cloudinary"
STORAGE_PROVIDER="local"

# Cloudinary Config (Required if STORAGE_PROVIDER="cloudinary")
CLOUDINARY_CLOUD_NAME="lenxo"
CLOUDINARY_API_KEY="432723375944148"
CLOUDINARY_API_SECRET="JSDqr-nva3H92LFl-AktW0y5MZ4"